{
    "tabWidth": 4,
    "useTabs": false,
    "arrowParens": "always",
    "bracketSpacing": true,
    "semi": false,
    "singleQuote": true,
    "printWidth": 150,
    "vueIndentScriptAndStyle": true
}
